body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
}

h1 h2 h3 {
  font-family: Arial, Helvetica, sans-serif;
}

.nav {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #c0dfed;
  border-radius: 80px 80px 0 0px;
  margin: 60px;
  height: 20%;
}

.navleft__contenido {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.navleft__contenido img {
  height: 15px;
  width: auto;
  margin-right: 5px;
}
.navleft__contenido h1 {
  color: #013a4f;
  margin-right: 20px;
  font-size: 15px;
}
.navleft__contenido img {
  margin-right: 15px;
  height: 15px;
  width: auto;
  margin-right: 5px;
}
.navleft__contenido span {
  color: #013a4f;
  font-size: 10px;
}

.nav__center {
  display: flex;
  text-decoration: none;
  list-style: none;
  font-size: 80%;
  justify-content: center;
  align-items: center;
}
.nav__center li {
  display: inline;
  margin: 5px;
  color: #6f8089;
}

.nav__right {
  position: relative;
  display: flex;
  text-decoration: none;
  list-style: none;
  font-size: 10px;
  justify-content: center;
  align-items: center;
}
.nav__right p {
  font-size: 10px;
  color: #013a4f;
  margin-right: 10px;
  font-weight: bold;
}
.nav__right button {
  border-radius: 50px;
  border: 1px solid #11abed;
  background-color: transparent;
  padding: 5px 10px;
  color: #11abed;
  font-size: 10px;
}
.nav__right img {
  position: absolute;
  top: -60px;
  left: 10px;
  z-index: -1;
  height: 150px;
  width: 150px;
  transform: rotate(-20deg);
}

.hero {
  display: grid;
  grid-template-columns: 1fr 2fr;
  flex-wrap: wrap;
  background-color: #c0dfed;
  margin: 60px;
  margin-top: -60px;
  margin-bottom: 0;
}

.hero__left {
  margin-left: 60px;
  position: relative;
  width: auto;
}
.hero__left h6 {
  color: #11abed;
}
.hero__left h1 {
  color: #013a4f;
  font-size: 24px;
}
.hero__left p {
  color: #6f8089;
  font-weight: lighter;
  font-size: 11px;
}
.hero__left button {
  border-radius: 50px;
  border: 1px solid #11abed;
  background-color: #11abed;
  padding: 10px 15px;
  color: #ffff;
  font-size: 10px;
  margin-top: 20px;
}
.hero__left span {
  color: #013a4f;
  position: absolute;
  top: 225px;
  left: 120px;
  font-size: 15px;
}
.hero__left img {
  position: absolute;
  top: 60px;
  left: -110px;
  z-index: -1;
  height: 300px;
  width: 300px;
}

.hero__right {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}
.hero__right img {
  width: 60%;
}
.hero__right p {
  color: #013a4f;
  font-size: 12px;
  margin-left: 250px;
  margin-right: 30px;
  position: absolute;
  line-height: 18px;
  bottom: 20%;
  right: 0;
  max-width: 150px;
}

.footer__text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #ffffff;
  flex-wrap: wrap;
  position: relative;
  width: auto;
  margin-bottom: 0;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 0;
}

.footer__text--left {
  margin-left: 50px;
}
.footer__text--left h6 {
  color: #11abed;
  margin-bottom: 0;
}
.footer__text--left h4 {
  color: #013a4f;
  margin-top: 0;
}

.footer__text--textright {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__text--textright h5 {
  color: #6f8089;
  font-weight: lighter;
  font-size: 10px;
}

.footer__icontext {
  display: flex;
  justify-content: space-evenly;
  background-color: #ffffff;
  position: relative;
  width: auto;
  margin-bottom: 0;
  margin-left: 60px;
  margin-right: 60px;
  flex-wrap: wrap;
  margin-top: 0;
  border-radius: 0 0 60px 60px;
  align-items: center;
}
.footer__icontext img {
  width: 25px;
  height: 25px;
}
.footer__icontext p {
  font-size: 10px;
  max-width: 200px;
}

@media screen and (max-width: 768px) {
  .nav__center {
    font-size: 50%;
  }

  .hero__right p {
    margin-left: 100px;
    top: 200px;
    left: 180px;
    font-size: 10px;
  }

  .hero__left h1 {
    color: #013a4f;
    font-size: 15px;
  }
  .hero__left p {
    font-size: 7px;
  }
  .hero__left button {
    padding: 5px 10px;
    font-size: 8px;
    margin-top: 10px;
  }
  .hero__left span {
    top: 160px;
    left: 90px;
    font-size: 10px;
  }
  .hero__left img {
    height: 150px;
    width: 180px;
  }

  .footer__icontext p {
    max-width: 130px;
  }
}
@media screen and (max-width: 480px) {
  .nav {
    display: flow-root;
    flex-wrap: wrap;
    background-color: #c0dfed;
    border-radius: 80px 80px 0 0px;
    margin: 60px;
    height: 20%;
  }
  .nav .nav__right img {
    position: absolute;
    top: -71px;
    left: 228px;
    z-index: -1;
    height: 105px;
    width: 120px;
    transform: rotate(-20deg);
  }

  .hero {
    display: flex;
    background-color: #c0dfed;
    margin: 60px;
    margin-top: -60px;
    margin-bottom: 0;
  }
  .hero .hero__left h6 {
    color: #11abed;
    margin-bottom: 0;
  }
  .hero .hero__left span {
    top: 127px;
    font-size: 10px;
  }
  .hero .hero__right p {
    margin-left: 100px;
    top: 114px;
    left: 140px;
    font-size: 9px;
    margin-right: 18px;
  }

  .footer__icontext {
    display: grid;
  }
  .footer__icontext img {
    max-width: 25px;
    max-width: 25px;
    margin-left: 20%;
  }
  .footer__icontext p {
    font-size: 8px;
    max-width: 100px;
  }
}
@media screen and (max-width: 320px) {
  .navleft__contenido {
    display: grid;
    justify-content: center;
    align-content: space-evenly;
  }
  .navleft__contenido img {
    margin-left: 15px;
  }

  .nav__center {
    font-size: 45%;
    display: grid;
    height: 10vh;
  }

  .nav .nav__right img {
    position: absolute;
    top: -157px;
    left: 126px;
    z-index: -1;
    height: 105px;
    width: 86px;
    transform: rotate(-20deg);
  }

  .hero__left {
    margin-left: 10%;
    position: relative;
  }
  .hero__left img {
    height: 100px;
    width: 100px;
    left: -60px;
  }
  .hero__left span {
    top: 90%;
  }

  .hero .hero__right p {
    font-size: 8px;
    min-width: 60px;
    margin-left: -5%;
    top: 40%;
    line-height: 10px;
    margin-right: 10px;
  }

  .footer__text {
    display: grid;
    background-color: #ffffff;
    margin-left: 60px;
    margin-right: 60px;
    grid-template-columns: none;
  }

  .footer__text--textright {
    padding: 0px;
    margin-left: 50px;
  }
  .footer__text--textright h5 {
    margin-top: auto;
  }

  .footer__text--textleft {
    margin: 30px;
  }
}
