<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="CSS/landing.css")
        title Page Dougs
    body
        div.nav
            <!--Defino propiedades del div izquierdo en el nav-->
            .navleft__contenido
                img.navleft__icon(src="img/icon__nav.png", alt="")
                h1.navleft__dougs dogs
                span.navleft__punto
                img.navleft__iconphone(src="img/icon__phone.png", alt="") 
                span.navleft__number 04 28 29 62 62
                
            <!--Defino propiedades del div central servicios ofrecidos -->

            .nav__center 
                lu.nav__center--lu
                    li Services 
                    li Fonctionnalites
                    li Tarifs
                    li L'equipe
                    li Blog

            <!--propiedades del div derecho Bonton suscribirse-->       

            .nav__right 
                p.nav__right--punto
                p Se Connecter
                button S'inscrite
                img.nav__right--cuadrado(src="img/rectangulo.svg", alt="")

            <!--Se definen los estilos del Hero-->

        div.hero
            .hero__left
                h6 - Pour les TPE
                h1
                    |Vous Dirigez Votre 
                    |activite, nous gerons 
                    |votre comptabilite
                p.
                    Obtenez votre bilan et vos declarations fiscales <br/>
                    attestes par votre expert-comptable Dougs
                button En savoir plus 
                span Des <b>69$</b>/mois
                img(src="img/circulo.svg", alt="")
            div.hero__right
                img(src="img/judith.png", alt="")
            
                p   
                    |Enfin une solution 
                    |comptable 100% en ligne 
                    |avec ses avantages, et sans 
                    |ses inconvenients! 

            <!--Propiedades del footer-->
            
        div.footer__text
            .footer__text--left
                h6 Soyez serein
                h4 Dougs vous simplifie la vie
            .footer__text--textright
                h5 Dougs se charge de toutes ces demarches pour vous.

        
        div.footer__icontext
            img(src="img/icon_tv.png", alt="")
            P.
                Zero paiper <br/>
                et zero deplacement
            img(src="img/icon_x.png", alt="")
            P.
                Des forfaits
                Sans engagement
            img(src="img/icon_actualizar.png", alt="")
            P.
                Synchronisation automatique
                avec votre compte profesionnel
            img(src="img/icon_msm.png", alt="")
            P.
                Tout se fait en ligne
                sur l'application Dougs
                
            //- .footer__icontext--leftcentro
                   
            //- .footer__icontext--rightcentro
                    
            //- .footer__icontext--right
                            
            //- - .footer__icontext--circleverde(src="", alt="")
